.body{
    background-color: white;
}
.jumbotron {
    padding-top: 8rem;
    background-color: #212529;
}

#about {
    padding-top: 0;
}

#certificate {
    padding-top: 10rem;
}

section {
    padding-top: 5rem;
}